
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="background-color:deepskyblue">
    <h1>Home</h1>
    <table cellpadding="2">
        <tr>
            <td class="jumbotron" style="background-color:blueviolet">
                <a href="~/Buyer/Login"> <h1>Buyer</h1>&nbsp;&nbsp; </a>
            </td>
        </tr>
        <tr>
            <td class="jumbotron" style="background-color:aqua">
                <a href="~/Seller/Login"> <h1>Seller</h1>&nbsp;&nbsp; </a>
            </td>
        </tr>
        <tr>
            <td class="jumbotron" style="background-color:mediumspringgreen"><a href="~/Buyer/Login"> <h1>Admin</h1>&nbsp;&nbsp; </a></td>
        </tr>

    </table>



    </div>
