
@*@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}*@

<h1>DashBoard</h1>

<h1 class="text-danger">@ViewBag.BName</h1>
<h1 class="text-danger">@ViewBag.lldt</h1>
<h4 class="align-text-top text-danger"><a asp-action="Login"  asp-controller="Buyer">logout</a></h4>